{%  extends 'registration/index.html' %}

{% block content %}
     <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Congratulations You're on the Dashboard page</h1>
      <h1 class="mt-5">InterIntel Technologies LTD</h1>
      <p class="lead">
        We are a team of passionate individuals who aspire to fuse the future and present I.T. 
        based challenges by offering innovative software design and development m-commerce solutions. 
        Our key strength lies in the ability to build innovative systems that can be easily integrated 
        with client networks. We are a technical powerhouse that is able to offer top of the range, unique 
        and futuristic technical solutions to all of our partners and clients, THE FUTURE IS NOW!
      </p>
      
      <h1 class="mt-5">Erick Ochieng Nyagilo</h1>
      <p class="lead">
          Create a login and a success page in Django. A mockup of the created pages should also be submitted. 
          The mockups should have been created by using advanced design/wireframe tools thus showcasing prowess 
          in usage of the tools and use of production server deployments on uwsgi/nginx. Ensure that the sessions are 
          well and securely managed.(60 pts)
      </p>
      <p>Use <a href="../sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>
    </main>
{% endblock %}